@model Turnos.Models.Paciente

<h4>Paciente</h4>
<hr />

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelo => modelo.Email)
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.Email)
        </dd>
    </dl>
</div>
<div>
    <ul class="nav justify-content-end">
        <li class="nav-item mx-2">
            <a asp-action="Edit" asp-route-id="@Model.IdPaciente">
                <button class="btn btn-primary" type="submit">Editar</button>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Index">
                <button type="button" class="btn btn-outline-primary">Volver</button>
            </a>
        </li>
    </ul>
</div>
